BACKEND_PORT=3000
DB_PORT=5432
FAST_API_PORt=8000
ADMINER_PORT=8080
NODE_ENV=development

DB_HOST=db
DB_NAME=database_development
DB_NAME_TEST=database_test
DB_NAME_PROD=database_production
DB_USER=root
DB_PASSWORD=abshore2025@

AUTH0_DOMAIN=matchnhire.eu.auth0.com
AUTH0_AUDIENCE=https://app.matchnhire.com/api/v3
LINKEDIN_CLIENT_ID=786ayo58ym13ez
LINKEDIN_CLIENT_SECRET=WPL_AP1.akNRD0e42LqG8xC9.ShrfJA==
REDIRECT_URI=http://localhost:4200/linkedin/callback

FAST_API_URL=http://fastapi:8000/api/v1
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=arezgui199@gmail.com
SMTP_PASS=nwqhvyzhggdmpprz
FROM_EMAIL=arezgui199@gmail.com
FRONTEND_URL=http://localhost:4200
